* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: #0a0a0a;
  font-weight: 400;
}
.header {
  background-color: #fff;
  color: #0a0a0a;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  height: 80px;
  gap: 24px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  opacity: 0.95;
}
.header__title {
  font-size: 18px;
  line-height: 1.55rem;
  font-weight: 400;
}
.header__title--nav {
  display: none;
}
.header__title--no-nav {
  display: block;
}
.header__nav {
  display: none;
  gap: 15px;
}
.header__nav a {
  font-size: 14px;
  line-height: 1.42rem;
  color: #717182;
}
.header__nav a:hover {
  color: #0a0a0a;
}
.header__button {
  border: 1px solid #0000001a;
  border-radius: 8px;
  color: #0a0a0a;
  cursor: pointer;
  padding: 0 12px;
  font-weight: 400;
  height: 32px;
  background-color: transparent;
  font-size: 14px;
}
.header__button:hover {
  background-color: #f0f0f0;
  box-shadow: none;
}
.main {
  padding: 80px 0;
}
.section__title {
  color: #717182;
  text-transform: uppercase;
  font-size: 14px;
}
.main .main__header,
.main .main__projects,
.main .main__about,
.main .main__contact {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 24px;
}
.main .main__header {
  padding: 0 32px;
}
.main .main__header .main__header__title {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  line-height: 72px;
  font-weight: 400;
  margin-bottom: 48px;
}
.main .main__header .main__header__title__area {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.main .main__header .main__header__image {
  display: none;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 12px 12px 24px #0000001a;
}
.main .main__header .main__header__title .main__header__highlight {
  color: #717182;
  font-size: inherit;
  line-height: inherit;
}
.main .main__header .main__header__subtitle {
  color: #717182;
  font-size: 18px;
  line-height: 1.625rem;
}
.main .section__subtitle {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin-bottom: 48px;
}
.main .main__projects,
.main .main__about,
.main .main__contact {
  padding-top: 80px;
  padding-bottom: 80px;
}
.main .main__projects {
}
.main .main__projects .section__title {
}
.main .main__projects .main__projects__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 24px;
}
.main
  .main__projects
  .main__projects__image
  .main__projects__item__image__container {
  box-shadow: 12px 12px 24px #0000001a;
}
.main .main__projects .main__projects__item .main__projects__image {
  width: 100%;
  border-radius: 16px;
}
.main .main__projects .main__projects__item .main__projects__item__title {
  font-size: 21px;
}
.main .main__projects .main__projects__item .main__projects__item__subtitle {
  font-size: 16px;
  color: #717182;
}
.main .main__about {
  background-color: #ececf04d;
}
.main .main__about .section__subtitle {
  margin-bottom: 0;
}
.main .main__about .main__about__description {
  font-size: 18px;
  line-height: 1.625rem;
  color: #717172;
}
.main .main__about .main__about__content {
  display: flex;
  flex-direction: column;
  gap: 64px;
  margin-top: 64px;
}
.main .main__about .main__about__content .main__about__content__area {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex-grow: 1;
}
.main
  .main__about
  .main__about__content
  .main__about__content__area
  .main__about__content__area__list__item {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}
.main
  .main__about
  .main__about__content
  .main__about__content__area
  .main__about__content__area__list__item
  .list__item__number {
  width: 48px;
  height: 48px;
  min-width: 48px;
  border-radius: 50%;
  border: 1px solid #0000001a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.42rem;
}
.main
  .main__about
  .main__about__content
  .main__about__content__area
  .main__about__content__area__list__item
  .list__item__content {
  display: flex;
  flex-direction: column;
  padding-top: 4px;
  gap: 8px;
}
.main
  .main__about
  .main__about__content
  .main__about__content__area
  .main__about__content__area__list__item
  .list__item__content
  .list__item__content__title {
  font-size: 18px;
  line-height: 1.55rem;
}
.main
  .main__about
  .main__about__content
  .main__about__content__area
  .main__about__content__area__list__item
  .list__item__content
  .list__item__content__description {
  font-size: 14px;
  line-height: 1.625rem;
  color: #717172;
}
.main
  .main__about
  .main__about__content
  .main__about__content__area
  .main__about__content__area__list__item:hover
  .list__item__number {
  background-color: #0a0a0a;
  color: #fff;
}
.main
  .main__about
  .main__about__content
  .main__about__content__area
  .main__about__content__area__resume {
  padding-bottom: 32px;
  border-bottom: 1px solid #0000001a;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.main
  .main__about
  .main__about__content
  .main__about__content__area
  .main__about__content__area__resume
  .main__about__content__area__resume__title {
  font-size: 20px;
  line-height: 1.4rem;
}
.main
  .main__about
  .main__about__content
  .main__about__content__area
  .main__about__content__area__resume
  .main__about__content__area__resume__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.main__about__content__area__resume__item .skills__title {
  font-size: 14px;
  line-height: 1.42rem;
}
.main__about__content__area__resume__item .skills__description {
  font-size: 14px;
  line-height: 1.42rem;
  color: #717172;
}
.main__about__content__area__resume__item .work__experience {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.main__about__content__area__resume__item
  .work__experience
  .work__experience__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.main__about__content__area__resume__item
  .work__experience
  .work__experience__header
  .work__experience__title__header__title {
  font-size: 14px;
  line-height: 1.42rem;
}
.main__about__content__area__resume__item
  .work__experience
  .work__experience__header
  .work__experience__title__header__date {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  line-height: 1rem;
  color: #717172;
}
.main__about__content__area__resume__item
  .work__experience
  .work__experience__header
  .work__experience__title__header__date
  .work__experience__title__header__date__icon {
  width: 16px;
  height: 16px;
}
.main__about__content__area__resume__item
  .work__experience
  .work__experience__local {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  line-height: 1rem;
  color: #717172;
}
.main__about__content__area__resume__item
  .work__experience
  .work__experience__local
  .work__experience__local__icon {
  width: 16px;
  height: 16px;
}
.main__about__content__area__resume__item
  .work__experience
  .work__experience__list {
  padding-left: 32px;
  margin-top: 16px;
}
.main__about__content__area__resume__item
  .work__experience
  .work__experience__list
  .work__experience__list__item {
  font-size: 12px;
  line-height: 1.33rem;
  color: #717172;
}
.main
  .main__about
  .main__about__content
  .main__about__content__area
  .main__about__content__area__curriculum__link
  a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  line-height: 1.42rem;
  color: #717172;
  font-weight: 400;
  &::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 8px;
    background-color: #717172;
    mask: url("./assets/images/check.svg") no-repeat center;
    mask-size: contain;
    -webkit-mask: url("./assets/images/check.svg") no-repeat center;
    -webkit-mask-size: contain;
  }
}
.main
  .main__about
  .main__about__content
  .main__about__content__area
  .main__about__content__area__curriculum__link
  a:hover {
  color: #0a0a0a;
  &::after {
    background-color: #0a0a0a;
  }
}
.main .main__contact {
  padding-bottom: 16px;
}
.main .main__contact .address__description {
  font-size: 18px;
  line-height: 1.625rem;
  color: #717172;
  margin-bottom: 24px;
  font-style: normal;
}
.main .main__contact .address__item {
  align-items: center;
  display: flex;
  gap: 4px;
  margin-bottom: 8px;
}
.main .main__contact .address__item a {
  font-size: 14px;
  line-height: 1.42rem;
  color: #0a0a0a;
  font-style: normal;
}
.main .main__contact .address__item.address__item--location {
  font-size: 14px;
  line-height: 1.42rem;
  color: #717172;
  font-style: normal;
}
.main .main__contact .address__item::before {
  content: "";
  display: inline-block;
  width: 32px;
  border-top: 1px solid #0a0a0a;
  margin-right: 16px;
}
.main .main__contact .address__item a:hover {
  color: #717172;
}
.footer {
  padding: 0 24px;
  background-color: #0a0a0a;
  box-shadow: 2px -2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-bottom: 80px;
}
.footer__content {
  padding-top: 24px;
  border-top: 1px solid #0000001a;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.footer .footer__links {
  display: flex;
  gap: 16px;
  align-items: center;
}
.footer__link {
  font-weight: 400;
  color: #fff;
  background-color: transparent;
  height: 32px;
  width: 32px;
  border-radius: 16px;
}
@media only screen and (min-width: 541px) {
  .header__title--nav {
    display: block;
  }
  .header__title--no-nav {
    display: none;
  }
  .header__nav {
    display: flex;
  }
  .main .main__header,
  .main .main__projects,
  .main .main__about,
  .main .main__contact {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media only screen and (min-width: 1025px) {
  .header {
    padding-left: 10%;
    padding-right: 10%;
  }
  .main .main__header .main__header__image {
    display: block;
  }
  .main .main__header .main__header__title {
    font-size: 86px;
    line-height: 96px;
  }
  .main .main__projects .main__projects__content {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .main .main__projects .main__projects__content .main__projects__item {
    flex-grow: 1;
    width: 32%;
    height: 100%;
  }
  .main .main__projects .main__projects__content .main__projects__item:hover {
    cursor: pointer;
  }
  .main
    .main__projects
    .main__projects__content
    .main__projects__item
    .main__projects__item__image__container {
    overflow: hidden;
    border-radius: 16px;
    position: relative;
    width: 100%;
  }
  .main
    .main__projects
    .main__projects__content
    .main__projects__item
    .main__projects__item__image__container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    transition: background-color 0.3s ease-in-out;
  }
  .main
    .main__projects
    .main__projects__content
    .main__projects__item
    .main__projects__item__image__container
    .main__projects__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
    transform: scale(1.05);
  }
  .main
    .main__projects
    .main__projects__content
    .main__projects__item:hover
    .main__projects__item__image__container
    .main__projects__image {
    transform: scale(1);
  }
  .main
    .main__projects
    .main__projects__content
    .main__projects__item
    .main__projects__item__image__container:hover::after {
    background-color: rgba(0, 0, 0, 0);
  }
  .main
    .main__projects
    .main__projects__content
    .main__projects__item:hover
    .main__projects__item__image__container {
    box-shadow: 1px 2px 4px #0000001a;
  }

  .main
    .main__projects
    .main__projects__content
    .main__projects__item:hover
    .main__projects__item__image__container::after {
    background-color: transparent;
  }
  .main
    .main__projects
    .main__projects__content
    .main__projects__item:hover
    .main__projects__item__title {
    color: #717182;
  }
  .main .main__about .main__about__content {
    flex-direction: row;
  }
  .main .main__about .main__about__content .main__about__content__area {
    max-width: 50%;
  }
}
