* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: #0a0a0a;
  font-weight: 500;
}
.header {
  background-color: #fff;
  color: #0a0a0a;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  height: 80px;
  gap: 24px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  opacity: 0.95;
}
.header__title {
  font-size: 18px;
  line-height: 1.55rem;
  font-weight: 400;
}
.header__title--nav {
  display: none;
}
.header__title--no-nav {
  display: block;
}
.header__nav {
  display: none;
  gap: 15px;
}
.header__button {
  border-color: #0000001a;
  border-radius: 8px;
  color: #0a0a0a;
  cursor: pointer;
  padding: 10px 15px;
  font-weight: 500;
  background-color: transparent;
}
.header__button:hover {
  background-color: #f0f0f0;
}
.main {
  padding: 80px 0;
}
.section__title {
  color: #717182;
  text-transform: uppercase;
  font-size: 14px;
}
.main .main__header,
.main .main__projects,
.main .main__about,
.main .main__contact {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 24px;
}
.main .main__header {
  padding: 0 32px;
}
.main .main__header .main__header__title {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  line-height: 72px;
  font-weight: 400;
  margin-bottom: 48px;
}
.main .main__header .main__header__title__area {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.main .main__header .main__header__image {
  display: none;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 12px 12px 24px #0000001a;
}
.main .main__header .main__header__title .main__header__highlight {
  color: #717182;
  font-size: inherit;
  line-height: inherit;
}
.main .main__header .main__header__subtitle {
  color: #717182;
  font-size: 18px;
  line-height: 1.625rem;
}
.main .main__projects,
.main .main__about,
.main .main__contact {
  padding-top: 80px;
  padding-bottom: 80px;
}
.main .main__projects {
}
.main .main__projects .section__title {
}
.main .main__projects .section__subtitle {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin-bottom: 48px;
}
.main .main__projects .main__projects__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 24px;
}
.main
  .main__projects
  .main__projects__image
  .main__projects__item__image__container {
  box-shadow: 12px 12px 24px #0000001a;
}
.main .main__projects .main__projects__item .main__projects__image {
  width: 100%;
  border-radius: 16px;
}
.main .main__projects .main__projects__item .main__projects__item__title {
  font-size: 21px;
}
.main .main__projects .main__projects__item .main__projects__item__subtitle {
  font-size: 16px;
  color: #717182;
}
.main .main__about {
  background-color: #ececf04d;
}
.main .main__contact {
  padding-bottom: 16px;
}
.footer {
  padding: 0 24px;
  background-color: #0a0a0a;
  box-shadow: 2px -2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-bottom: 80px;
}
.footer__content {
  padding-top: 24px;
  border-top: 1px solid #0000001a;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.footer .footer__links {
  display: flex;
  gap: 16px;
  align-items: center;
}
.footer__link {
  font-weight: 400;
  color: #fff;
  background-color: transparent;
  height: 32px;
  width: 32px;
  border-radius: 16px;
}
@media only screen and (min-width: 541px) {
  .header__title--nav {
    display: block;
  }
  .header__title--no-nav {
    display: none;
  }
  .header__nav {
    display: flex;
  }
}
@media only screen and (min-width: 1025px) {
  .main .main__header .main__header__image {
    display: block;
  }
  .main .main__header .main__header__title {
    font-size: 86px;
    line-height: 96px;
  }
  .main .main__projects .main__projects__content {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .main .main__projects .main__projects__content .main__projects__item {
    flex-grow: 1;
    width: 32%;
    height: 100%;
  }
  .main .main__projects .main__projects__content .main__projects__item:hover {
    cursor: pointer;
  }
  .main
    .main__projects
    .main__projects__content
    .main__projects__item
    .main__projects__item__image__container {
    overflow: hidden;
    border-radius: 16px;
    position: relative;
    width: 100%;
  }
  .main
    .main__projects
    .main__projects__content
    .main__projects__item
    .main__projects__item__image__container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    transition: background-color 0.3s ease-in-out;
  }
  .main
    .main__projects
    .main__projects__content
    .main__projects__item
    .main__projects__item__image__container
    .main__projects__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
    transform: scale(1.05);
  }
  .main
    .main__projects
    .main__projects__content
    .main__projects__item:hover
    .main__projects__item__image__container
    .main__projects__image {
    transform: scale(1);
  }
  .main
    .main__projects
    .main__projects__content
    .main__projects__item
    .main__projects__item__image__container:hover::after {
    background-color: rgba(0, 0, 0, 0);
  }

  .main
    .main__projects
    .main__projects__content
    .main__projects__item:hover
    .main__projects__item__image__container::after {
    background-color: transparent;
  }
  .main
    .main__projects
    .main__projects__content
    .main__projects__item:hover
    .main__projects__item__title {
    color: #717182;
  }
}
